<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <variable constant="0" name="collisonTRAFFIC" sid="111194436234626" static="0" type="number">0</variable>
        <variable constant="0" name="decor" sid="994749764008157" static="0" type="number">0</variable>
        <event-block sid="350691236284901">
            <conditions>
                <condition id="-2" name="On start of layout" sid="804991995550964" type="System" />
            </conditions>
            <actions>
                <action id="100" name="Create local camera" sid="678493530338205" type="MagiCam">
                    <param id="0" name="Name">&quot;p&quot;</param>
                    <param id="1" name="X">0</param>
                    <param id="2" name="Y">0</param>
                    <param id="3" name="Scale">1</param>
                    <param id="4" name="Active">1</param>
                </action>
                <action id="0" name="Follow object" sid="530278675340121" type="MagiCam">
                    <param id="0" name="Camera">&quot;p&quot;</param>
                    <param id="1" name="Object">menu_buttons</param>
                    <param id="2" name="Weight">1</param>
                    <param id="3" name="Image point">0</param>
                </action>
                <action id="3" name="Enable following" sid="840068551085444" type="MagiCam">
                    <param id="0" name="Camera">&quot;p&quot;</param>
                    <param id="1" name="Following">0</param>
                </action>
                <action id="-15" name="Set visible" sid="881356820724539" type="SELECTLVL">
                    <param id="0" name="Visibility">0</param>
                </action>
            </actions>
        </event-block>
        <event-group description="" sid="630186755237197" title="уровни">
            <sub-events>
                <event-block sid="942897292742861">
                    <conditions>
                        <condition id="-7" name="Compare instance variable" sid="385688360630431" type="button_levels">
                            <param id="0" name="Instance variable">ID</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">1</param>
                        </condition>
                    </conditions>
                    <actions />
                    <sub-events>
                        <event-block sid="863720673600111">
                            <conditions>
                                <condition id="17" name="Объект нажат" sid="700992421882892" type="Touch">
                                    <param id="0" name="Объект">button_levels</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-2" name="Go to layout" sid="789842090539058" type="System">
                                    <param id="0" name="Layout">lvl1</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-block>
            </sub-events>
        </event-group>
        <event-block sid="468020217472825">
            <conditions>
                <condition id="17" name="Объект нажат" sid="458418822936652" type="Touch">
                    <param id="0" name="Объект">backSELECTLEVEL</param>
                </condition>
            </conditions>
            <actions>
                <action id="300" name="Transition to point" sid="486838756075205" type="MagiCam">
                    <param id="0" name="Name">&quot;p&quot;</param>
                    <param id="1" name="X">445</param>
                    <param id="2" name="Y">256</param>
                    <param id="3" name="Duration">1</param>
                </action>
                <action id="-16" name="Wait" sid="402468513932282" type="System">
                    <param id="0" name="Seconds">0.8</param>
                </action>
                <action id="-15" name="Set visible" sid="834815443521155" type="SELECTLVL">
                    <param id="0" name="Visibility">0</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="591620850408561">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="126707847803869" type="menu_buttons">
                    <param id="0" name="Instance variable">ID</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">0</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="730565659743257">
                    <conditions>
                        <condition id="3" name="Прикоснулся объекта" sid="926338696254927" type="Touch">
                            <param id="0" name="Объект">menu_buttons</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-15" name="Set visible" sid="380296962463208" type="SELECTLVL">
                            <param id="0" name="Visibility">1</param>
                        </action>
                        <action id="5" name="Установить кадр" sid="767272748148214" type="menu_buttons">
                            <param id="0" name="Номер кадра">1</param>
                        </action>
                        <action id="-16" name="Wait" sid="483810189618102" type="System">
                            <param id="0" name="Seconds">0.1</param>
                        </action>
                        <action id="5" name="Установить кадр" sid="787548205081884" type="menu_buttons">
                            <param id="0" name="Номер кадра">0</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <event-block sid="518898591063801">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="598668686604663" type="menu_buttons">
                    <param id="0" name="Instance variable">ID</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">1</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="526875387803548">
                    <conditions>
                        <condition id="3" name="Прикоснулся объекта" sid="223546483259600" type="Touch">
                            <param id="0" name="Объект">menu_buttons</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-15" name="Set visible" sid="136428306760532" type="SELECTLVL">
                            <param id="0" name="Visibility">1</param>
                        </action>
                        <action id="5" name="Установить кадр" sid="563002300878037" type="menu_buttons">
                            <param id="0" name="Номер кадра">1</param>
                        </action>
                        <action id="-16" name="Wait" sid="707533584683152" type="System">
                            <param id="0" name="Seconds">0.1</param>
                        </action>
                        <action id="5" name="Установить кадр" sid="892010581341882" type="menu_buttons">
                            <param id="0" name="Номер кадра">0</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <event-group description="" sid="167341055666081" title="над выб уровнем">
            <sub-events>
                <event-group description="" sid="689780965798065" title="пк">
                    <sub-events>
                        <event-block sid="613021282331427">
                            <conditions>
                                <condition id="7" name="Курсор над объектом" sid="777388693343634" type="Mouse">
                                    <param id="0" name="Объект">button_levels</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-16" name="Set opacity" sid="152493103681983" type="button_levels">
                                    <param id="0" name="Opacity">50</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="976052346915882">
                            <conditions>
                                <condition id="7" inverted="1" name="Курсор над объектом" sid="141743514146102" type="Mouse">
                                    <param id="0" name="Объект">button_levels</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-16" name="Set opacity" sid="604096479898347" type="button_levels">
                                    <param id="0" name="Opacity">100</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
                <event-group description="" inactive="1" sid="907860506761184" title="андроид">
                    <sub-events>
                        <event-block sid="147663439009807">
                            <conditions>
                                <condition id="4" name="В прикосании с объектом" sid="326354069788646" type="Touch">
                                    <param id="0" name="Объект">button_levels</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="4" name="Установить анимацию" sid="525339851936136" type="button_levels">
                                    <param id="0" name="Анимация">&quot;l2&quot;</param>
                                    <param id="1" name="Из">1</param>
                                </action>
                            </actions>
                        </event-block>
                        <event-block sid="735895898553439">
                            <conditions>
                                <condition id="4" inverted="1" name="В прикосании с объектом" sid="662862904358543" type="Touch">
                                    <param id="0" name="Объект">button_levels</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="4" name="Установить анимацию" sid="133566534316370" type="button_levels">
                                    <param id="0" name="Анимация">&quot;l1&quot;</param>
                                    <param id="1" name="Из">1</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-group>
            </sub-events>
        </event-group>
    </events>
</c2eventsheet>
